// Responsive Designs - Phone
@media only screen and (max-width: 900px) {
    // Header
    .Header {
        background: white;
        color: black;
    }

    .SideNav {
        display: none;
    }
}
