// Responsive Designs - Phone
@media (max-width: 1100px) {
    // Header
    .Header {
        background: white;
        color: black;
        @include flex(row, space-between, center);
        width: 100%;
        margin: 0 auto;

        .my_container {
            // background: blue;

            .dummyElement {
                font-size: 2.5em;
                width: 50%;
                display: flex;
                justify-content: center;
                text-align: center;
                opacity: 1;
                height: 100%;
                padding: 15px 0px;
                text-decoration: none;
                color: white;
                transition: 0.7s;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                }
    
            }
    
            .Search {
                width: 50%;
                margin-right: auto;
                margin-left: 3em;
                form {
    
                    input {
                        padding: 5px 15px;
                    }
                }
            }
        }
        
    }

    .SideNav {
        float: none;
        width: 0;
        display: none;
    }

    .ShowList, .Contact, .MovieDetail {
        height: 100vh;

        .rightSide {
            width: 100%;
            float: none;
            padding: 3em 1.3em;

            .row {
                grid-template-columns: 1fr;
            }
        }
    }

    // Styling Search
.Search {

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        span {
            background: transparent;
            padding: 0px;
            border-radius: 7px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 290px;
            height: 40px;

            input {
                background: inherit;
                padding: 10px 0px;
                color: white;
                border: none;
                width: 90%;
                height: 100%;
                border-bottom: 1px solid white;
                outline: none;

                &::placeholder {
                    color: rgb(212, 187, 187);
                    font-size: 1.1rem;
                }
            }

            button {
                padding: 5px 10px;
                height: 100%;
                width: 15%;
                background: white;
                color: red;
                border: none;

                .searchIcon {
                    color:  rgb(141, 32, 32);
                }
    
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
}
