// Responsive Designs - Phone
@media (max-width: 1100px) {
    // Header
    .Header {
        background: white;
        color: black;
        @include flex(row, space-between, center);
        width: 100%;
        margin: 0 auto;

        .my_container {
            max-width: 100%;
            display: flex;
            justify-content: space-between;
            align-items : center;

            .dummyElement {
                font-size: 2.7em;
                width: 50%;
                background: yellow;
                display: flex;
                justify-content: center;
                text-align: center;
                opacity: 1;
                height: 100%;
                text-decoration: none;
                color: white;
                transition: 0.7s;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.02);
                }
    
            }
    
            .Search {
                // background: pink;
                width: 50%;
                // margin-left: auto;
                form {
                    padding: 0px 25px;
                    
                    span {
                        margin-left: auto;

                        input {
                            padding: 5px 15px;
                        }
                    }
                }
            }
        }
        
    }

    .SideNav {
        float: none;
        width: 0;
        display: none;
    }

    .ShowList, .Contact, .MovieDetail {
        height: 100vh;

        .rightSide {
            width: 100%;
            float: none;
            padding: 3em 1.3em;

            .row {
                grid-template-columns: 1fr;
            }
        }
    }

    // Movie Detail
    .MovieDetail {
        min-height: 100vh;
        
        .rightSide {
            float: right;
            margin: 0 auto;
            width: 100%;
            height: auto;
            padding: 3em;
            color: white;
            background: #2d2b47;

            .topSection {
                height: 100%;
                padding: 4em 0 0 0;

                .backLink {
                    font-size: 1.5em;
                    color: white;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    text-decoration: none;
                }

                .detRow {
                    height: 100%;
                    padding: 2em 0 0 0;
                    display: flex;
                    flex-direction: column;
                    
                    .imgDiv {
                        width: 100%;
                        height: 450px;
                        
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    
                    .details {
                        width: 100%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    
}
