// Responsive Designs - Phone
@media (max-width: 1100px) {
    // Header
    .Header {
        background: white;
        color: black;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .SideNav {
        float: none;
        width: 0;
        display: none;
    }

    .ShowList, .Contact, .MovieDetail {
        height: 100vh;

        .rightSide {
            width: 100%;
            float: none;
            padding: 3em 1.3em;

            .row {
                grid-template-columns: 1fr;
            }
        }
    }

    // Styling Search
    .Search {
        
    }
}
