*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import 'my_mixins';

html {
    scroll-behavior: smooth;
}

.Header {
    @include flex(row, space-between, center);
    background: red;
    width: 100%;
    padding: 15px 35px;
    
    .Search {
        
        form {

            input {
                padding: 5px 10px;
            }

            button {
                padding: 5px 10px;
            }
        }


    }

    .currTime {
        color: white;
    }
}