*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import 'my_mixins';

html {
    scroll-behavior: smooth;
}

.Header {
    @include flex(row, space-between, center);
    background: red;
    width: 100%;
    padding: 20px 35px;

    .my_Logo {
        text-decoration: none;
        font-size: 2rem;
        color: white;
    }
}