@import 'default_styles';


.Header {
    background: $nav__color;
    opacity: 0.8;
    padding: 0px;

    .my_container {
        @include flex(row, space-between, center);
        max-width: 100%;
        margin: 0 auto;
        // padding: 0px 35px;

        .app_Logo {
            width: 15%;
            text-align: center;
            background: #d40909;
            opacity: 1;
            height: 100%;
            padding: 15px 0px;
            text-decoration: none;
            color: white;
            font-size: 1.4rem;

            &:hover {
                background: #d40909;
            }
        }

        .Search {
            margin-right: auto;
            margin-left: 5em;
            form {

                input {
                    padding: 5px 15px;
                }
            }
        }
    }
}

.SideNav {
    float: left;
    background: black;
    padding: 15px 0px 15px 10px;
    width: 15%;
    height: 100vh;

    .links {

        a {
            display: block;
        }
    }
}

// Right Side
.rightSide {
    float: right;
}