*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import 'my_mixins';

html {
    scroll-behavior: smooth;
}


.ShowList {

    .Header {
        width: 100%;
        background: red;
        @include flex(row, space-between, center);
        padding: 0px;
        
        .app_Logo {
            height: 100%;
            width: 25%;
            padding: 15px 5px;
            background: #db1818;
            text-align: center;
            color: white;
        }

        div {
            @include flex(row, space-between, center);
        }
    }
}