@import 'mixins';

@include breakpoint-mobile(phone) {
    
    .contact {
        
        .rightSide {
            max-width: 100%;
            min-height: 100vh;
            margin: auto;
            padding: 1.9rem 1.5rem;
            color: $white;



            > h3 {
                color: red;
                text-align: center;
                color: $white;
                position: relative;
                font-family: $logo__font;
                font-size: 1.2rem;
                transition: all 0.3s;

                &::after {
                    content: "";
                    position: absolute;
                    top: 35px;
                    left: 50%;
                    transform: translate(-50%);
                    width: 40px;
                    height: 5px;
                    background-color: white;
                    border-radius: 1000px;
                    transition: all 0.3s;
                }
            }
        }
    }
}


@include breakpoint-mobile(tablet) {

    .contact {
        background: $myBackground;
        
        .rightSide {
            max-width: 100%;
            min-height: 100vh;
            margin: auto;
            padding: 2.6rem 1.5rem;
            color: $white;


            > h3 {
                color: red;
                text-align: center;
                color: $white;
                position: relative;
                font-family: $primary__font;
                font-size: 1.6rem;
                transition: all 0.3s;

                &::after {
                    content: "";
                    position: absolute;
                    top: 35px;
                    left: 50%;
                    transform: translate(-50%);
                    width: 40px;
                    height: 4px;
                    background-color: white;
                    border-radius: 1000px;
                    transition: all 0.3s;
                }
            }

            .row {
                padding: 2.4rem 0 0 0;
                font-family: $primary__font;

                .contactDet {
                    max-width: 100%;

                    h3 {
                        // font-size: 1.4rem;
                        margin-bottom: 1.5rem;
                    }

                    p {
                        font-size: 1.15rem;
                        line-height: 1.7rem;
                        transition: font-size 0.3s;
                    }
                }

                form {
                    // background-color: yellow;
                    margin-top: 1.6rem;
                    max-width: 100%;

                    div {
                        width: 100%;
                        
                        &:not(:first-child){
                            margin: 0.75rem 0 0 0;
                        }

                        input {
                            padding: 12px 15px;
                            width: 100%;
                            outline: none;
                            color: $white;
                            border: 3px solid $white;
                            // border-radius: 5px;
                            background-color: transparent;
                        }
                        
                        textarea {
                            padding: 12px 15px;
                            width: 100%;
                            outline: none;
                            color: $white;
                            border: 3px solid $white;
                            // border-radius: 5px;
                            background-color: transparent;
                        }

                        input[type="submit"] {
                            cursor: pointer;
                            font-size: 1.1rem;
                            transition: all 0.3s;

                            &:hover {
                                background-color: $white;
                                color: $buttonHoverClr;
                            }
                        }
                    }
                }
            }
            
            
        }
    }
}


@include breakpoint-desktop(laptop) {

    .contact {
        background: $myBackground;
        

        .rightSide {
            max-width: 100%;
            min-height: 100vh;
            margin: auto;
            padding: 1.9rem 1.5rem;
            color: $white;
            
            > h3 {
                color: red;
                text-align: center;
                color: $white;
                position: relative;
                font-family: $primary__font;
                font-size: 1.85rem;
                transition: all 0.3s;
                display: none;

                &::after {
                    content: "";
                    position: absolute;
                    top: 40px;
                    left: 50%;
                    transform: translate(-50%);
                    width: 40px;
                    height: 5px;
                    background-color: white;
                    border-radius: 1000px;
                    transition: all 0.3s;
                }
            }

            .row {
                display: grid;
                grid-template-columns: 1.8fr 2fr;
                gap: 1.5rem;
                padding: 2.4rem 0 0 0;
                font-family: $primary__font;

                .contactDet {
                    max-width: 100%;

                    h3 {
                        font-size: 1.4rem;
                        margin-bottom: 1.5rem;
                    }

                    p {
                        font-size: 1.25rem;
                        line-height: 1.7rem;
                    }
                }

                form {
                    // background-color: yellow;
                    max-width: 100%;

                    div {
                        width: 100%;
                        
                        &:not(:first-child){
                            margin: 0.75rem 0 0 0;
                        }

                        input {
                            padding: 12px 15px;
                            width: 100%;
                            outline: none;
                            color: $white;
                            border: 3px solid $white;
                            // border-radius: 5px;
                            background-color: transparent;
                        }
                        
                        textarea {
                            padding: 12px 15px;
                            width: 100%;
                            outline: none;
                            color: $white;
                            border: 3px solid $white;
                            // border-radius: 5px;
                            background-color: transparent;
                        }

                        input[type="submit"] {
                            cursor: pointer;
                            font-size: 1.1rem;
                            transition: all 0.3s;

                            &:hover {
                                background-color: $white;
                                color: $buttonHoverClr;
                            }
                        }
                    }
                }
            }
            
        }
    }
}