* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    --animate-duration: 2s;
    scroll-behavior: smooth;
}

body {
    position: relative;
}


a {
    text-decoration: none;
}

$nav__color: #EE005F;
$white: #ffffff;
$primary__font: 'Roboto', sans-serif;
$logo__font: 'Bungee Inline', cursive;
$misc__font: 'Train One', cursive;
// $myBackground: rgba(#040911, 0.9);
$myBackground: linear-gradient(to right top, #1e2e44, #192537, #141d2a, #0f151d, #040911);