@import 'mixins';



@include breakpoint-mobile(phone) {

}


@include breakpoint-mobile(tablet) {
    .sideNav {
        position: fixed;
        top: 0;
        left: 0;
        width: 180px;
        min-height: 100vh;
        padding: 1rem 0;
        color: $white;
        background-color: $nav__color;
        z-index: 3000;
        display: none;


        .closeNav {
            cursor: pointer;
            font-size: 2.3rem;
            color: $white;
            margin: 0.18rem 0 1rem 1.4rem;
        }


        .links {
            display: flex;
            flex-direction: column;
        


            a {
                font-family: $primary__font;
                color: $white;
                padding: 0.85rem 1.5rem;
                font-size: 1.3rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: 1px solid $white;
                font-weight: bold;
                transition: all 0.4s;

                &:last-child {
                    border-bottom: 1px solid $white;
                }


                .arrows {
                    font-weight: bold;
                    display: none;
                    transition: all 0.4s;
                }



                &:hover {
                    background: $myBackground;

                    .arrows {
                        display: block;
                    }
                }
            }
        }
    
    }
}


@include breakpoint-desktop(laptop) {
    .sideNav {
        display: none;

        .closeNav {
            cursor: pointer;
            font-size: 2rem;
            color: $white;
            margin: 0.5rem 0 0.65rem 1.5rem;
            display: none;
        }

        
    }

}