* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1100px) {
  .Header {
    background: white;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  .Header .my_container {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Header .my_container .dummyElement {
    font-size: 2.7em;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    opacity: 1;
    height: 100%;
    text-decoration: none;
    color: white;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  .Header .my_container .dummyElement:hover {
    cursor: pointer;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  .Header .my_container .Search {
    width: 50%;
  }
  .Header .my_container .Search form {
    padding: 0px 25px;
  }
  .Header .my_container .Search form span {
    margin-left: auto;
  }
  .Header .my_container .Search form span input {
    padding: 5px 15px;
  }
  .SideNav {
    float: none;
    width: 0;
    display: none;
  }
  .ShowList, .Contact, .MovieDetail {
    height: 100vh;
  }
  .ShowList .rightSide, .Contact .rightSide, .MovieDetail .rightSide {
    width: 100%;
    float: none;
    padding: 3em 1.3em;
  }
  .ShowList .rightSide .row, .Contact .rightSide .row, .MovieDetail .rightSide .row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

html {
  --animate-duration: 2s;
  scroll-behavior: smooth;
}

.Header {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  width: 100%;
  background: #c90d0d;
  opacity: 1;
  padding: 10px;
  z-index: 100;
}

.Header .my_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
}

.Header .my_container .dummyElement {
  width: 15%;
  text-align: center;
  opacity: 1;
  height: 100%;
  padding: 15px 0px;
  text-decoration: none;
  color: white;
}

.Header .my_container .dummyElement:hover {
  cursor: pointer;
}

.Header .my_container .Search {
  width: 85%;
  margin-right: auto;
  margin-left: 3em;
}

.Header .my_container .Search form input {
  padding: 5px 15px;
}

.SideNav {
  position: fixed;
  bottom: 0;
  float: left;
  background: #191830;
  padding: 0px 0 25px 0;
  width: 15%;
  height: 100vh;
  z-index: 150;
}

@media (max-width: 40.375rem) {
  .SideNav {
    display: none;
  }
}

.SideNav .logoDiv {
  width: 100%;
  height: 65px;
  background: #ffffff;
  border: 5px solid white;
  opacity: 0.96;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SideNav .logoDiv .app_Logo {
  font-family: "Bungee Inline", cursive;
  text-decoration: none;
  color: #c90d0d;
  font-size: 1.8rem;
}

.SideNav .links {
  margin: 2.5em 0 3em 0;
}

.SideNav .links a {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  text-align: left;
  color: #dfdfdf;
  padding: 13px 25px;
  border-radius: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.SideNav .links a .arrows {
  -webkit-transition: display 0.8s;
  transition: display 0.8s;
  display: none;
}

.SideNav .links a:hover {
  color: lightgray;
  background: #2d2b47;
  border-left: #ffffff solid 5px;
}

.SideNav .links a:hover .arrows {
  color: lightgray;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  display: block;
}

.ShowList, .Contact {
  padding: 4em 0;
  margin-top: 0;
  width: 100%;
  min-height: 100vh;
}

.ShowList .Header .respNav, .Contact .Header .respNav {
  display: none;
}

.rightSide {
  float: right;
  margin: 0 auto;
  width: 85%;
  min-height: 100vh;
  padding: 3em;
  color: white;
  background: #2d2b47;
}

.rightSide > h3 {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  width: 140px;
  letter-spacing: 1.5px;
  margin: 0 auto 1.7em auto;
}

.rightSide > h3::after {
  width: 50px;
  height: 3px;
  margin: 10px auto;
  display: block;
  content: "";
  border-radius: 1000px;
  background: white;
}

.row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  gap: 3em;
  text-align: left;
  margin: 2em auto;
}

.row .contactDet h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 0 0.8em 0;
}

.row .contactDet p {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  margin: 10px 0;
  letter-spacing: 1px;
  line-height: 1.5em;
  color: lightgray;
}

.row .contactDet p span {
  color: white;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.row form div {
  width: 100%;
  margin: 12px auto;
}

.row form div input {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: white;
  background: transparent;
  width: 100%;
  padding: 15px 20px;
  border: 2px solid white;
}

.row form div input:focus-within {
  border: 2px solid white;
  outline: white;
}

.row form div input[type="submit"] {
  font-size: 1em;
  border: 3px solid white;
  color: #343158;
  background: white;
  font-weight: bold;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  margin: 1em 0 0 0;
}

.row form div input[type="submit"]:hover {
  cursor: pointer;
  border: 3px solid white;
  background: transparent;
  color: white;
}

.row form div textarea {
  font-size: 1rem;
  color: white;
  background: transparent;
  width: 100%;
  padding: 20px;
  border: 2px solid white;
}

.row form div textarea:focus-within {
  border: 2px solid white;
  outline: white;
}

.ShowList .rightSide > div .title {
  font-family: "Train One", cursive;
  font-size: 2.5rem;
  margin: 0px 0;
}

.ShowList .rightSide > div .searched {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  margin: 0.5em 0 0px 0;
  color: darkgray;
}

.ShowList .rightSide > div .searched span {
  text-transform: capitalize;
}

.ShowList .rightSide > div .loading {
  width: 100%;
  height: 100%;
  margin: 15% auto;
}

.ShowList .rightSide > div .productDiv {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  max-width: 100%;
}

.ShowList .rightSide > div .productDiv .product {
  text-decoration: none;
  height: 250px;
  margin: 1em 1.5em 5em 0;
  font-weight: 400;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.ShowList .rightSide > div .productDiv .product img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.ShowList .rightSide > div .productDiv .product img:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.ShowList .rightSide > div .productDiv .product .prodTitle {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  margin: 0.4rem 0 0.2rem 0;
  font-weight: 500;
  letter-spacing: 1.5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
  text-transform: capitalize;
}

.ShowList .rightSide > div .productDiv .product .infoDiv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 7px 0 0;
}

.ShowList .rightSide > div .productDiv .product .infoDiv .type {
  display: inline;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  margin: 0rem 0;
  font-weight: 500;
  letter-spacing: 1.5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: darkgray;
  text-transform: capitalize;
}

.ShowList .rightSide > div .productDiv .product .infoDiv .year {
  color: darkgray;
  margin-left: auto;
}

.ShowList .rightSide > div .productDiv .product:hover {
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  cursor: pointer;
}

.ShowList .rightSide > div .productDiv .product:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.ShowList .rightSide > div .productDiv .product:hover p {
  font-weight: bold;
}

.ShowList .rightSide .topSection {
  padding: 4em 3em;
}

.Search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Search form span {
  background: transparent;
  padding: 0px;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 290px;
  height: 40px;
}

.Search form span input {
  background: inherit;
  padding: 10px 0px;
  color: white;
  border: none;
  width: 90%;
  height: 100%;
  border-bottom: 1px solid white;
  outline: none;
}

.Search form span input::-webkit-input-placeholder {
  color: #d4bbbb;
  font-size: 1.1rem;
}

.Search form span input:-ms-input-placeholder {
  color: #d4bbbb;
  font-size: 1.1rem;
}

.Search form span input::-ms-input-placeholder {
  color: #d4bbbb;
  font-size: 1.1rem;
}

.Search form span input::placeholder {
  color: #d4bbbb;
  font-size: 1.1rem;
}

.Search form span button {
  padding: 5px 10px;
  height: 100%;
  width: 15%;
  background: white;
  color: red;
  border: none;
}

.Search form span button .searchIcon {
  color: #8d2020;
}

.Search form span button:hover {
  cursor: pointer;
}

.MovieDetail {
  min-height: 100vh;
}

.MovieDetail .rightSide {
  float: right;
  margin: 0 auto;
  max-width: 85%;
  height: auto;
  padding: 3em;
  color: white;
  background: #2d2b47;
}

@media (max-width: 40.375rem) {
  .MovieDetail .rightSide {
    float: none;
    max-width: 100%;
    padding: 1.5rem;
  }
}

.MovieDetail .rightSide .topSection {
  height: 100%;
  padding: 4em 0 0 0;
}

.MovieDetail .rightSide .topSection .backLink {
  font-size: 1.5em;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80px;
  text-decoration: none;
}

.MovieDetail .rightSide .topSection .detRow {
  height: 100%;
  padding: 2em 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 40.375rem) {
  .MovieDetail .rightSide .topSection .detRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.MovieDetail .rightSide .topSection .detRow .imgDiv {
  max-width: 350px;
  height: 500px;
}

.MovieDetail .rightSide .topSection .detRow .imgDiv img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.MovieDetail .rightSide .topSection .detRow .details {
  max-width: 700px;
  height: auto;
  padding: 5px 2em;
  font-family: "Roboto", sans-serif;
  color: #f1f1f1;
}

@media (max-width: 40.375rem) {
  .MovieDetail .rightSide .topSection .detRow .details {
    padding: 5px 0;
    width: 100%;
  }
}

.MovieDetail .rightSide .topSection .detRow .details .title {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  letter-spacing: 1.5px;
  margin: 0 auto 15px auto;
}

.MovieDetail .rightSide .topSection .detRow .details .title::after {
  width: 55px;
  height: 6px;
  margin: 10px 0 0 0;
  display: block;
  content: "";
  border-radius: 1000px;
  background: white;
}

.MovieDetail .rightSide .topSection .detRow .details .genre, .MovieDetail .rightSide .topSection .detRow .details .awards, .MovieDetail .rightSide .topSection .detRow .details .released, .MovieDetail .rightSide .topSection .detRow .details .year, .MovieDetail .rightSide .topSection .detRow .details .rated, .MovieDetail .rightSide .topSection .detRow .details .writer, .MovieDetail .rightSide .topSection .detRow .details .cast {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 8px 0;
  font-size: 1em;
}

.MovieDetail .rightSide .topSection .detRow .details .cast span {
  font-size: 1.09em;
  letter-spacing: 1.2px;
}

.MovieDetail .rightSide .topSection .detRow .details .bottomSection {
  margin: 30px 0 0 0;
  color: #f1f1f1;
}

@media (max-width: 40.375rem) {
  .MovieDetail .rightSide .topSection .detRow .details .bottomSection {
    max-width: 100%;
  }
}

.MovieDetail .rightSide .topSection .detRow .details .bottomSection .plot {
  letter-spacing: 1.2px;
  font-size: 1.2rem;
}

@media (max-width: 40.375rem) {
  .MovieDetail .rightSide .topSection .detRow .details .bottomSection .plot {
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */