* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  --animate-duration: 2s;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

a {
  text-decoration: none;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  background-color: #EE005F;
  padding: 1rem 1.5rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 2000;
}

@media (max-width: 85rem) {
  .header {
    padding: 1rem 1.1rem;
  }
}

.header .my_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .my_container .app_Logo {
  color: #ffffff;
  font-family: "Bungee Inline", cursive;
  font-size: 2rem;
  display: block;
}

@media (max-width: 85rem) {
  .header .my_container .app_Logo {
    display: none;
  }
}

.header .my_container .hamburger {
  cursor: pointer;
  color: #ffffff;
  font-size: 2.3rem;
  display: none;
}

@media (max-width: 85rem) {
  .header .my_container .hamburger {
    display: block;
  }
}

.header .my_container .links {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .my_container .links a {
  position: relative;
  color: #ffffff;
  margin: 0 20px;
}

.header .my_container .links a::after {
  position: absolute;
  content: "";
  display: block;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #ffffff;
  width: 35px;
  height: 4px;
  margin-top: 8px;
  border-radius: 10000px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  display: none;
}

.header .my_container .links a:hover::after {
  display: block;
}

@media (max-width: 85rem) {
  .header .my_container .links {
    display: none;
  }
}

.header .my_container .search form {
  margin: 0;
  border: 2px solid #ffffff;
  padding: 0 0 0 15px;
}

.header .my_container .search form span {
  padding: 0;
  margin: 0;
}

.header .my_container .search form span input {
  border: none;
  outline: none;
  color: #ffffff;
  background-color: transparent;
}

.header .my_container .search form span input::-webkit-input-placeholder {
  color: #ffffff;
}

.header .my_container .search form span input:-ms-input-placeholder {
  color: #ffffff;
}

.header .my_container .search form span input::-ms-input-placeholder {
  color: #ffffff;
}

.header .my_container .search form span input::placeholder {
  color: #ffffff;
}

.header .my_container .search form span button {
  background-color: #ffffff;
  cursor: pointer;
  padding: 7px 9px;
  border: 2px solid #ffffff;
  color: #EE005F;
}

@media (max-width: 85rem) {
  .sideNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    min-height: 100vh;
    padding: 1rem 0;
    color: #ffffff;
    background-color: #EE005F;
    display: none;
  }
  .sideNav .closeNav {
    cursor: pointer;
    font-size: 2.3rem;
    color: #ffffff;
    margin: 0.18rem 0 0.65rem 1.4rem;
  }
  .sideNav .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sideNav .links a {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    padding: 0.85rem 1.5rem;
    font-size: 1.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #ffffff;
    font-weight: bold;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .sideNav .links a:last-child {
    border-bottom: 1px solid #ffffff;
  }
  .sideNav .links a .arrows {
    font-weight: bold;
    display: none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .sideNav .links a:hover {
    background-color: black;
  }
  .sideNav .links a:hover .arrows {
    display: block;
  }
}

@media (min-width: 85rem) {
  .sideNav {
    display: none;
  }
  .sideNav .closeNav {
    cursor: pointer;
    font-size: 2rem;
    color: #ffffff;
    margin: 0.5rem 0 0.65rem 1.5rem;
    display: none;
  }
}

@media (max-width: 25.375rem) {
  .showList {
    background: -webkit-gradient(linear, left bottom, right top, from(#1e2e44), color-stop(#192537), color-stop(#141d2a), color-stop(#0f151d), to(#040911));
    background: linear-gradient(to right top, #1e2e44, #192537, #141d2a, #0f151d, #040911);
  }
  .showList .rightSide {
    max-width: 100%;
    margin: auto;
    padding: 1.9rem 1.5rem;
  }
  .showList .rightSide div {
    padding: 1rem 0;
  }
  .showList .rightSide div h4 {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #ffffff;
    text-transform: capitalize;
    margin: 2rem 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .showList .rightSide div .productDiv {
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(207px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(207px, 1fr));
    gap: 25px;
  }
  .showList .rightSide div .productDiv .product {
    max-width: 200px;
  }
  .showList .rightSide div .productDiv .product img {
    max-width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .showList .rightSide div .productDiv .product img:hover {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
}

@media (max-width: 85rem) {
  .showList {
    background: -webkit-gradient(linear, left bottom, right top, from(#1e2e44), color-stop(#192537), color-stop(#141d2a), color-stop(#0f151d), to(#040911));
    background: linear-gradient(to right top, #1e2e44, #192537, #141d2a, #0f151d, #040911);
  }
  .showList .rightSide {
    max-width: 100%;
    margin: auto;
    padding: 1.9rem 1.5rem;
  }
  .showList .rightSide div {
    padding: 1rem 0;
  }
  .showList .rightSide div h4 {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    color: #ffffff;
    text-transform: capitalize;
    margin: 2rem 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .showList .rightSide div .productDiv {
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(207px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(207px, 1fr));
    gap: 25px;
  }
  .showList .rightSide div .productDiv .product {
    min-width: 200px;
    min-height: 300px;
  }
  .showList .rightSide div .productDiv .product img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .showList .rightSide div .productDiv .product img:hover {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
}

@media (min-width: 85rem) {
  .showList {
    background: -webkit-gradient(linear, left bottom, right top, from(#1e2e44), color-stop(#192537), color-stop(#141d2a), color-stop(#0f151d), to(#040911));
    background: linear-gradient(to right top, #1e2e44, #192537, #141d2a, #0f151d, #040911);
  }
  .showList .rightSide {
    max-width: 100%;
    margin: auto;
    padding: 1.9rem 1.5rem;
  }
  .showList .rightSide div {
    padding: 1rem 0;
  }
  .showList .rightSide div h4 {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    text-transform: capitalize;
    margin: 2rem 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .showList .rightSide div .productDiv {
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(210px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 25px;
  }
  .showList .rightSide div .productDiv .product {
    min-width: 200px;
  }
  .showList .rightSide div .productDiv .product img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .showList .rightSide div .productDiv .product img:hover {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
}
/*# sourceMappingURL=style.css.map */